<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img src="./assets/img/logo.png" alt="Logo" width="150">
  <h1>
    {{ title }}
  </h1>
  <h2>{{ subtitle }}</h2>
</div>
<ul>
  <li>Author view: dashboard with statistics</li>
  <li>Client view: basic author presentation site with music stream</li>
</ul>
<hr>
<h4>Here are some links to help you start: </h4>
<ul>
  <li>
    <h4><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h4>
  </li>
  <li>
    <h4><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h4>
  </li>
  <li>
    <h4><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h4>
  </li>
</ul>

